#analyzeForm_url {
  width:99%;
}
#analyzeForm .foswikiFormDescription {
  margin-bottom:1.3846em; /* 18px */
}
#messageContainer,
#downloadForm {
  display:none;
}
.foswikiRevision {
  display:none;
}
.harvestResults {
  width:99%;
}
.harvestResults td {
  padding:5px;
}
.harvestResults input {
  visibility:hidden;
}
.harvestResults tr:hover input,
.harvestResults tr.foswikiSelected input {
  visibility:visible;
}
